*{margin:0;
padding:0;}
body{background-color:brown;
font-family: 'Indie Flower', cursive;}
.container{width:1000px;
background-color:black;
margin:0 auto;
padding:20px;}
.profile-image{width:120px;
height:120px;
border:2px white solid;
border-radius:50%;
float:left;}
h1,h2,h3,h4,h5,h6{color:brown;}
.header-bio{padding:30px;
float:left;}
.header-contact{float:right;
font-weight:bolder;
margin:50px;}
.header-contact a{text-decoration:none;
color:white;

width:50%}
.header-contact a:hover{text-decoration:underline;
color:hotpink;
}
.clear-div{clear:both;}
.hr{border:3px white solid;
width:100%;
margin:20px auto;}
.left-div{float:left;
width:30%;}
.right-div{float:right;
width:70%;}
p{color:white;}
.common-hr{border:0.6px white solid;
width:100%;
margin:20px auto;}
.tamplate-left{float:left;
width:30%;}
.tamplate-right{float:right;
width:30%;}
.footer{background-color:black;
    text-align:center;
}
.footer a{text-decoration:none;
color:white;
margin:20px;}
.footer a:hover{text-decoration:line-through;
color:aqua;
}
.footer p{margin:20px;}
